# Node / Expo
node_modules/
.expo/
.expo-shared/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Android / iOS builds
android/
ios/
build/
dist/
*.apk
*.aab

# Editor
.vscode/
.DS_Store

# Unity
Library/
Temp/
Obj/
Build/
Builds/
UserSettings/
*.csproj
*.sln
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.apk
*.aab
